/* Add these styles to your App.css file */


/*
.navbar {
    background-color: #333; /* Dark background color */
  /* }
  
  .navbar-light .navbar-brand,
  .navbar-light .navbar-nav .nav-link {
    color: #fff; /* Light text color */
  /* }
  
  .form-check-label {
    color: #fff; /* Light text color */
  /* } */
  
 